[Desktop Entry]
Exec=/usr/bin/garuda-system-maintenance
Icon=garuda-system-maintenance
Name=Garuda System Maintenance
Type=Application
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
