polkit.addRule(function(action, subject) {
    if (action.id == "org.garuda.snapper-tools.pkexec.policy.find-old") {
        if (subject.isInGroup("wheel"))
            return polkit.Result.YES;
        else
            return polkit.Result.NO;
    }
});
